* {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    transition-duration: 1s;
    
}

a:hover {
    opacity: 1;
    background-color: #69856b;
    border-radius: 4px;
    padding: 10px;
    transition-duration: 1s;
}

/* Header */

header {
    background-color: #a2cca5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {
    width: 200px;
}

header nav ul {
    display: flex;
}

header li a {
    color: #50232e;
}

header li {
    margin: 0px 15px;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 15px;
    }
}

/* Hero */

.hero {
    background-image: url(img/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffcff;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.hero .btn {
    background-color: #fffcff;
    border-radius: 4px;
    color: #0ca5b0;
    padding: 20px 50px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 1.5rem;
    }
}