.container {
    background-color: #b7b09e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    height: 600px;
}

.item {
    background-color: #493443;
    color: white;
    padding: 30px;
    margin: 5px;
    width: 200px;
    height: 40px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}